<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", :about, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Twitter Accounts", :twitter_accounts, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", :about, class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <%= link_to "Navbar", :root, class: "navbar-brand mx-auto" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <% if Current.user %>
        <li class="nav-item">
          <%= link_to Current.user.email, :password, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", :logout, method: :delete, class: "btn btn-outline-secondary" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", :sign_up, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", :sign_in, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
